$font: Kumbh Sans, sans-serif;
$normal: 400;
$bold: 700;
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$darkBlue: hsl(220, 13%, 13%);
$darkGrayBlue: hsl(219, 9%, 45%);
$grayBlue: hsl(220, 14%, 75%);
$lightGrayBlue: hsl(223, 64%, 98%);
$lightBoxBlack: hsla(0, 0%, 0%, 0.75);
$mainMargin: 0 0 1rem 0;

@mixin quantBtnBack() {
    background-repeat: no-repeat;
    background-position: center;
    background-color: $lightGrayBlue;
    border: none;
    width: 20px;
    height: 20px;
}

* {
    margin: 0;
    padding: 0;
}

h3, .proName, .proDesc, .currPrice, .sale, .origPrice, .quant, .addCartBtn {
    font-family: $font;
}

@media screen and (min-width: 451px) {

    body {
        padding: 2rem 10rem;
    }

    nav {
        display: flex;
        height: 8rem;
        align-items: center;
        border-bottom: 2px solid $grayBlue;
    }

    .logo {
        flex: 15%;

        img {
            height: 2rem;
        }
    }

    .navLinks-desktop{
        flex: 75%;
        display: flex;
        list-style: none;
        align-items: center;
        height: 7.7rem;

        li {
            color: $darkGrayBlue;
            font-family: $font;
            font-size: 24px;
            display: flex;
            align-items: center;
            height: 100%;
            margin: 0 2rem;
            border-bottom: 5px solid rgba(255, 255, 255, 0);
        }

        li:hover {
            border-bottom: 5px solid $orange;
            cursor: pointer;
        }
    }

    .menuIcon {
        display: none;
    }

    .cartIcon {
        margin: 0 5rem 0 0;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
    }

    .cartIcon:hover {
        cursor: pointer;
    }

    .cartIcon:hover img {
        filter: brightness(0%);
    }
    
    .cartIconWrap {
        position: relative;

        img {
            height: 1.5rem;
        }

        .cartQuant {
            width: 1.3rem;
            height: 15px;
            font-family: $font;
            font-weight: $bold;
            color: white;
            text-align: center;
            font-size: 10px;
            border-radius: 12px;
            background-color: $orange;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -5px;
            right: -5px;
            transition: opacity 0.2s ease-in;
        }
    }

    .cartQuantHide {
        opacity: 0;
    }

    .cartMenu {
        position: absolute;
        top: 9rem; 
        width: 23rem;
        height: 15rem;
        background-color: white;
        border-radius: 10px;
        filter: drop-shadow(0 1rem 0.6rem hsla(0, 0%, 0%, 0.25));
        transition: opacity 0.5s ease;
    
        h1 {
            font-family: $font;
            font-size: 16px;
            padding: 1.3rem 0 1.3rem 1.3rem;
            border-bottom: 1px solid $grayBlue;
        }
    
        h2 {
            font-family: $font;
            font-size: 16px;
            color: $darkGrayBlue;
        }
    }
    
    .itemWrap {
        display: flex;
        height: 60%;
        flex-wrap: wrap;
        padding: 1rem 1.5rem 1rem 1.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        img:first-of-type {
            height: 3rem;
            border-radius: 5px;
        }
    
        img:last-of-type {
            height: 1rem;
            align-self: center;
        }

        img:last-of-type:hover {
            cursor: pointer;
            filter: brightness(0%);
        }
    
        div {
            display: flex;
            flex-direction: column;
        }
    
        h4 {
            color: $darkGrayBlue;
            font-family: $font;
            font-weight: $normal;
            font-size: 16px;
            padding: 2px;
    
    
            span:last-of-type {
                color: black;
                font-weight: $bold;
            }
        }
    
    }

    .cartShow {
        right: 8%;
    }
    
    .cartTransition {
        opacity: 0;
    }
    
    .cartHide {
        left: -100vw;
    }
    
    .hideItem {
        display: none !important;
    }

    .checkout {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: $bold;
        font-family: $font;
        width: 100%;
        background-color: $orange;
        padding: 1.1rem;
        border-radius: .7rem;
        border: none;
    }

    .checkout:hover {
        opacity: 60%;
        cursor: pointer;
    }

    .userIcon {
        img {
            height: 4rem;
            border: 3px solid white;
            border-radius: 50%;
        }

        img:hover {
            border: 3px solid $orange;
            cursor: pointer;
        }
    }

    .desktopWrap {
        display: flex;
    }

    .slides {
        width: 40%;
        margin: 5rem;
    }

    .currSlide {
        height: 35rem;
        border-radius: 1rem;
        margin: 0 0 2em 0;
    }

    .slideNext, .slidePrev {
        display: none;
    }

    .slideSm {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 35rem;

        li {
            border: 3px solid rgba(255, 255, 255, 0);
            border-radius: 19px;
            height: 7rem;
        }

        img {
            height: 7rem;
            border-radius: 1rem;
        }

        img:hover {
            opacity: 40%;
            cursor: pointer;
        }
    }

    .selectSlide {
        border: 3px solid $orange !important;
    }

    .selectSlideImg {
        opacity: 40%;
    }

    .lbSlides {
        position: absolute;
        width: 45rem;
        height: 60rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        top: 8%;
        left: 0;
        right: 0;
        margin: auto;

        .currSlide {
            height: 45rem;
            width: 45rem;
            margin: 0 auto 2rem auto;
        }

        .lbSlideArrw {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 45%;
            width: 4.5rem;
            height: 4.5rem;
            border: none;
            border-radius: 100%;
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;

            img {
                width: 1.5rem;
                height: 2rem;
            }
        }

        .slidePrev {
            left: -2rem;
        }
        
        .slideNext {
            right: -2rem;
        }

        li {
            div {
                width: 7rem;
                height: 7rem;
                background-color: white;
                border-radius: 1rem;
                position: absolute;
            }

            img {
                position: relative;
            }
        }
    }

    .lbCloseBtn {
        display: flex;
        justify-content: flex-end;
        width: 45rem;
        height: 4rem;

        img {
            width: 2rem;
            height: 2rem;
            filter: brightness(0) invert(1);
        }

        :hover {
            filter: hue-rotate(150deg) brightness(150%) saturate(1000%);
        }
    }

    .lbHide {
        display: none !important;
    }

    .mainWrap {
        width: 50%;
        margin: 5rem;
        padding: 5rem 5rem 5rem 0;
    }

    .brand {
        color: $orange;
        font-size: 20px;
        letter-spacing: .1rem;
        margin: $mainMargin;
    }
    
    .proName {
        margin: $mainMargin;
        font-size: 50px;
        margin: 0 0 0.7em 0;
    }
    
    .proDesc {
        color: $darkGrayBlue;
        font-size: 20px;
        line-height: 2rem;
        margin: 0 0 1.5rem 0;
    }
    
    .prices {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 1.5rem 0;
    }
    
    .currPrice {
        font-size: 30px;
        font-weight: $bold;
    }
    
    .sale {
        margin: 0 auto 0 5%;
        width: 4rem;
        padding: 4px 0 4px 0;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        color: $orange;
        background-color: $paleOrange;
    }
    
    .origPrice {
        flex: 100%;
        font-size: 20px;
        margin: 0.5rem 0 0 0;
        font-weight: $bold;
        color: $grayBlue;
        text-decoration: line-through;
    }

    .addWrap {
        display: flex;
        justify-content: space-between;
        height: 4rem;
    }

    .quantWrap {
        display: flex;
        background-color: $lightGrayBlue;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 100%;
        border-radius: .7rem;
        margin: $mainMargin;
    }
    
    .decBtn {
        background-image: url(images/icon-minus.svg);
        @include quantBtnBack();
    }

    .decBtn:hover {
        opacity: 60%;
        cursor: pointer;
    }
    
    .incBtn {
        background-image: url(images/icon-plus.svg);
        @include quantBtnBack();
    }

    .incBtn:hover {
        opacity: 60%;
        cursor: pointer;
    }
    
    .quant {
        font-weight: $bold;
    }

    .addCartBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0;
        color: white;
        font-weight: $bold;
        width: 65%;
        font-size: 20px;
        background-color: $orange;
        padding: 0.5rem 1rem;
        border-radius: .7rem;
        border: none;
        filter: drop-shadow(0 1rem 0.6rem hsla(26, 100%, 55%, 0.25));
    
        img {
            height: 1rem;
            margin: 0 1rem 0 0;
            filter: brightness(100);
        }
    }

    .addCartBtn:hover {
        opacity: 60%;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .shadow {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100%;
        z-index: 0;
    }
    
    .bright {
        left: -1000vw;
    }
    
    .shadTransition {
        background-color: rgba(0, 0, 0, 0);
    }

    .dark {
        left: 0;
        background-color: rgba(0, 0, 0, 0.70)
    }

    @media screen and (min-width: 2000px) {
        body {
            width: 2000px;
            margin: 0 auto;
        }

        nav {
            height: 10rem;
        }

        .logo {
            img {
                height: 2.5rem;
            }
        }

        .navLinks-desktop {
            height: 9.7rem;

            li {
                font-size: 28px;
            }
        }

        .cartIcon {
            height: 3rem;
            width: 3rem;
        }

        .cartIconWrap {
            img {
                height: 2.5rem;
            }

            .cartQuant {
                width: 2rem;
                height: 20px;
                font-size: 14px;
            }
        }

        .userIcon {
            img {
                height: 5rem;
            }
        }

        .cartMenu {
            top: 12rem;
            width: 30rem;
            height: 18rem;
        }

        .itemWrap{
            height: 65%;
        }

        .item {
            img:first-of-type {
                height: 5rem;
            }

            img:last-of-type {
                height: 1.5rem;
            }

            h4 {
                font-size: 22px;
                line-height: 2rem;
            }

            span {
                margin: 0 5px 0 5px;
            }
        }

        .checkout {
            padding: 1.5rem;
        }

        .cartShow{
            right: 10%;
        }

        .slides {
            margin: 10rem 3rem 5rem 8rem;
        }

        .currSlide {
            height: 45rem;
        }

        .slideSm {
            width: 45rem;

            li {
                height: 9rem;
            }

            img {
                height: 9rem;
            }
        }

        .lbSlides {
            width: 60rem;
            height: 65rem;
            margin: auto;
            top: 12%;

            .currSlide {
                height: 55rem;
                width: 55rem;
            }

            .lbSlideArrw {
                width: 5.5rem;
                height: 5.5rem;
            }

            .slidePrev {
                left: -0.5rem;
            }

            .slideNext {
                right: -0.5rem;
            }

            li {
                div {
                    width: 9rem;
                    height: 9rem;
                }
            }
        }

        .lbCloseBtn {
            width: 55rem;
            margin: 0 0 1rem 0;

            img {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        .mainWrap {
            padding: 10rem 3rem 5rem 5rem;
        }

        .brand {
            font-size: 24px;
            margin: 0 0 2rem 0;
        }

        .proName {
            font-size: 64px;
        }

        .proDesc {
            font-size: 30px;
            line-height: 3rem;
        }

        .prices {
            margin: 4rem 0 4rem 0;

            .currPrice {
                font-size: 50px;
            }

            .sale {
                font-size: 30px;
                width: 6rem;
                margin: 0 auto 0 4%;
                padding: 5px 0 5px 0;
            }

            .origPrice {
                font-size: 30px;
            }
        }

        .addWrap {
            height: 5.5rem;
        }

        .quantWrap {
            width: 32%;

            .decBtn {
                width: 24px;
                height: 28px;
                background-size: contain;
            }

            .quant {
                font-size: 26px;
            }

            .incBtn {
                width: 24px;
                height: 28px;
                background-size: contain;
            }
        }
    }

    @media screen and (max-width: 1650px) {
        body {
            padding: 1rem 6rem;
        }

        nav {
            height: 5rem;
        }

        .navLinks-desktop{
            height: 4.7rem;
            flex: 65%;
            display: flex;
            list-style: none;
    
            li {
                color: $darkGrayBlue;
                font-family: $font;
                font-size: 18px;
                margin: 0 2rem;
            }
        }

        .logo {
            flex: 1%;

            img {
                height: 1.5rem;
            }
        }

        .cartIcon {
            margin: 0 2rem 0 0;
        }

        .cartMenu {
            top: 8rem;
        }

        .userIcon {
            img {
                height: 3rem;
            }
        }

        .slides {
            width: 40%;
            margin: 3rem 0 0 7rem;
        }
    
        .currSlide {
            height: 25rem;
            margin: 0 0 2rem 0;
        }

        .slideSm {
            width: 25rem;
    
            li {
                height: 5rem;
            }
    
            img {
                height: 5rem;
                border-radius: 1rem;
            }
        }

        .lbSlides {
            top: 1rem;
            height: 45rem;
            width: 33rem;
            right: 0;
            left: 0;
            margin: auto;

            .currSlide {
                height: 33rem;
                width: 33rem;
            }

            li{
                div {
                    width: 5rem;
                    height: 5rem;
                }
            }

            .lbSlideArrw{
                width: 3rem;
                height: 3rem;
                top: 42%;

                img {
                    width: 0.8rem;
                    height: 1.2rem;
                }
            }
        }

        .lbCloseBtn {
            width: 33rem;
            height: 2rem;
            margin: 0 0 0.5rem 0;

            img {
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        .mainWrap {
            width: 50%;
            margin: 3rem;
            padding: 1rem 3rem 3rem 0;
        }

        .brand {
            font-size: 18px;
        }

        .proName {
          font-size: 40px;
        }
    }
}

@media screen and (max-width: 450px){

    .navLinks-desktop {
        display: none;
    }

    html, body {
        height: auto;
        overflow: scroll;
    }
    
    nav {
        display: flex;
        padding: 20px 20px;
        align-items: center;
    }
    
    .menuIcon {
        flex: 5%;
    
        img {
            margin-top: 3px;
            height: 18px;
        }
    }
    
    .logo {
        flex: 60%;
    
        img {
            height: 20px;
        }
    }
    
    
    .cartIcon {
        flex: 8%;
    
    }
    
    .cartIconWrap {
        width: 28px;
        position: relative;
    
        img {
            height: 20px;
    
        }
    
        .cartQuant {
            width: 1.2rem;
            height: 13px;
            font-family: $font;
            font-weight: $bold;
            color: white;
            text-align: center;
            font-size: 10px;
            border-radius: 12px;
            background-color: $orange;
            position: absolute;
            top: -5px;
            right: 0;
            transition: opacity 0.2s ease-in;
        }
    }
    
    .cartQuantHide {
        opacity: 0;
    }
    
    .userIcon {
        flex: 5%;
    
        img {
            height: 25px;
        }
    }
    
    .slides {
        height: 23rem;
        position: relative;
    
        img {
            width: 100%;
            height: 23rem;
        }
    
        button {
            position: absolute;
            top: 50%;
            width: 35px;
            height: 35px;
            border: none;
            border-radius: 35px;
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    
    .slidePrev {
        background-image: url(images/icon-previous.svg);
        background-size: 22%;
        left: 1.2rem;
    }
    
    .slideNext {
        background-image: url(images/icon-next.svg);
        background-size: 25%;
        right: 1.2rem;
    }

    .slideSm {
        display: none;
    }
    
    .mainWrap {
        margin: 1.5rem 1.6rem;
    }
    
    .brand {
        color: $orange;
        font-size: 12px;
        letter-spacing: .1rem;
        margin: $mainMargin;
    }
    
    .proName {
        margin: $mainMargin;
    }
    
    .proDesc {
        color: $darkGrayBlue;
        font-size: 16px;
        line-height: 1.5rem;
        margin: 0 0 1.5rem 0;
    }
    
    .prices {
        display: flex;
        align-items: center;
        margin: 0 0 1.5rem 0;
    }
    
    .currPrice {
        font-size: 22px;
        font-weight: $bold;
    }
    
    .sale {
        margin: 0 auto 0 5%;
        width: 50px;
        padding: 4px 0 4px 0;
        border-radius: 5px;
        text-align: center;
        font-weight: $bold;
        color: $orange;
        background-color: $paleOrange;
    }
    
    .origPrice {
        font-size: 16px;
        font-weight: $bold;
        color: $grayBlue;
        text-decoration: line-through;
    }
    
    .quantWrap {
        display: flex;
        background-color: $lightGrayBlue;
        justify-content: space-between;
        padding: 1rem;
        border-radius: .7rem;
        margin: $mainMargin;
    }
    
    .decBtn {
        background-image: url(images/icon-minus.svg);
        @include quantBtnBack();
    }
    
    .incBtn {
        background-image: url(images/icon-plus.svg);
        @include quantBtnBack();
    }
    
    .quant {
        font-weight: $bold;
    }
    
    .addWrap {
        padding-bottom: 2rem;
    }
    
    .addCartBtn {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: $bold;
        width: 100%;
        background-color: $orange;
        padding: 1.1rem;
        border-radius: .7rem;
        border: none;
        filter: drop-shadow(0 1rem 0.6rem hsla(26, 100%, 55%, 0.25));
    
        img {
            height: 1rem;
            margin: 0 1rem 0 0;
            filter: brightness(100);
        }
    }
    
    .shadow {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100%;
        transition: background-color 0.5s ease;
    }
    
    .bright {
        left: -100vw;
    }
    
    .shadTransition {
        background-color: rgba(0, 0, 0, 0);
    }
    
    .dark {
        left: 0;
        background-color: rgba(0, 0, 0, 0.70)
    }
    
    .cartMenu {
        position: absolute;
        top: 5rem;
        margin: auto;
        width: 90%;
        height: 15rem;
        background-color: white;
        border-radius: 10px;
        filter: drop-shadow(0 1rem 0.6rem hsla(0, 0%, 0%, 0.25));
        transition: opacity 0.5s ease;
    
        h1 {
            font-family: $font;
            font-size: 16px;
            padding: 1.3rem 0 1.3rem 1.3rem;
            border-bottom: 1px solid $grayBlue;
        }
    
        h2 {
            font-family: $font;
            font-size: 16px;
            color: $darkGrayBlue;
        }
    }
    
    .itemWrap {
        display: flex;
        height: 60%;
        flex-wrap: wrap;
        padding: 1rem 1.5rem 1rem 1.5rem;
        justify-content: center;
        align-items: center;
    }
    
    .item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    
        img:first-of-type {
            height: 3rem;
            border-radius: 5px;
        }
    
        img:last-of-type {
            height: 1rem;
            align-self: center;
        }
    
        div {
            display: flex;
            flex-direction: column;
        }
    
        h4 {
            color: $darkGrayBlue;
            font-family: $font;
            font-weight: $normal;
            font-size: 14px;
            padding: 2px;
    
    
            span:last-of-type {
                color: black;
                font-weight: $bold;
            }
        }
    
    }
    
    .hideItem {
        display: none !important;
    }
    
    .checkout {
        display: flex;
        justify-content: center;
        color: white;
        font-weight: $bold;
        font-family: $font;
        width: 100%;
        background-color: $orange;
        padding: 1.1rem;
        border-radius: .7rem;
        border: none;
    }
    
    .cartShow {
        right: 0;
        left: 0;
    }
    
    .cartTransition {
        opacity: 0;
    }
    
    .cartHide {
        left: -100vw;
    }
    
    .menu {
        position: fixed;
        width: 70%;
        height: 100%;
        top: 0;
        transition: left 0.5s ease;
        background-color: white;
    
        .closeMenuIcon {
            margin: 1.5rem 0 1rem 1.3rem;
        }
    
        li {
            font-family: $font;
            font-weight: $bold;
            margin: 1.5rem 0 1rem 1.3rem;
            list-style: none;
        }
    
    }
    
    .openMenu {
        left: 0;
    }
    
    .menuHidden {
        left: -70vw;
    }

    .lbSlides {
        display: none;
    }
}